nav {
    background: linear-gradient(45deg, rgb(163, 163, 163),midnightblue);
    height: 60px;
}
.liste {
    background: linear-gradient(45deg, rgb(156, 14, 156),midnightblue);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.list {
    list-style-type: none;
}
.items {
    margin-right: 35px;
    color:aliceblue;
}
.titre {
    justify-content: left;
    margin-right: 800px;
    color:aliceblue;
}
.closeBtn {
    float: right;
}
.clickable:hover {
    cursor: pointer;
}