.NavBar { grid-area: NavBar; }
.map { grid-area: map; }
.listCause { grid-area: listCause; }
.slider { grid-area: slider; }

.grid-container {
  display: grid;
  grid-template-areas:
    'NavBar NavBar NavBar'
    'listCause map map'
    'slider slider slider';
  grid-gap: 5px;
  background-color: #dddddd;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
}